*
{
    margin: 0px;
    padding: 0px;
    color: white;
}
body
{
    background-image: url('../img/pexels-binyamin-mellish-116077.jpg');
    background-size: cover;
    font-family: 'Baloo Bhai 2', cursive;
}
.left
{
    /* border: 1px solid red; */
    display: inline-block;
    position: absolute;
    top: 9px;
    left: 34px;
}
.center
{
    /* border: 1px solid green; */
    display: block;
    width: 33%;
    margin: 22px auto;
}
.right
{
    /* border: 1px solid blue;  */
    display: inline-block;
    position: absolute;
    right: 34px;
    top: 22px;
    font-size: 20px;
}
.navbar ul li
{
    display: inline-block;
    padding: 0px 15px;
}
.navbar li a
{
    text-decoration: none;
    font-size: large;
    padding-bottom: 5px;
}
.active, .navbar li a:hover
{
    color: chartreuse;
    border-bottom: 2px solid chartreuse;
} 
.left img
{
    width: 60px;
    height: 60px;
    display: block;
    margin: 0px auto;
    filter: invert(100%);
}
#logoname
{
    text-align: center;
    font-size: 15px;
}
.btn
{
    background-color: black;
    color: whitesmoke;
    padding: 6px 14px;
    border: none;
    font-family: 'Baloo Bhai 2', cursive;
}
.btn:hover
{
    border-bottom: 5px solid whitesmoke;
}
.container
{
    /* border: 1px solid turquoise; */
    margin: 100px auto;
    font-size: 18px;
    width: 50%;
    padding: 20px;
    border-radius: 30px;
    background-color: rgb(190, 255, 93,0.5);
    backdrop-filter: blur(8px);
    display: block;
    /* filter: blur(8px); */
}
.container input
{
    color: black;
    padding: 3px;
}
.container input:focus
{
    outline: none;
    color: black;
    /* border: 1px solid darkgrey; */
}
.container h3
{
    font-size: 30px;
    text-align: center;
}
.container input
{
    margin: 5px 20px;
    width: 400px;
    border-radius: 10px;
    border-style: none;
    padding: 5px;
}
.container button
{
    display: block;
    width: 30%;
    background-color: blue;
    color: whitesmoke;
    margin: 15px auto;
    padding: 5px;
    font-family: 'Baloo Bhai 2', cursive;
    border-radius: 10px;
    border-style: none;
}
input#Male, input#Female
{
    width: 20%;
}
.btns:hover
{
    background-color: darkorange;
    color: white
}
.footer
{
    margin-left: 20px;
}
